---
import { Picture } from "astro:assets"
import styles from "./Profile.module.scss"
import profile from "../../assets/profile.png"
---

<div class={styles.profile}>
    <Picture src={profile} formats={['avif', 'png']} alt="イモトカズヤのプロフィール画像" class={styles.image} />
    <div>
        <p class={styles.name}>イモト カズヤ<span class={styles.sub}>Imoto Kazuya</span></p>
        <dl class={styles.list}>
            <dt class={styles.summary}>GitHub:</dt>
            <dd class={styles.detail}><a href="https://github.com/imoto-rec-git" target="_blank" rel="noopener noreferrer" class={styles.link}>imoto-rec-git</a></dd>
            <dt class={styles.summary}>X:</dt>
            <dd class={styles.detail}><a href="https://x.com/k_imoto_fe" target="_blank" rel="noopener noreferrer" class={styles.link}>@k_imoto_fe</a></dd>
        </dl>
    </div>
</div>