---
import { Image } from "astro:assets";
import styles from "./BlogListItem.module.scss"

type Blog = {
	id: string;
	title: string;
	publishedAt: string;
}

const formatPublishedAt = (dateString: string): string => {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = date.getMonth() + 1;
  const day = date.getDate();
  return `${year}年${month}月${day}日`;
};

const { blog }: { blog: Blog } = Astro.props as { blog: Blog };
const formattedPublishedAt = formatPublishedAt(blog.publishedAt);
---

<li>
  <a href={`/blog/${blog.id}`} class={styles.link}>
	<Image src={`/public/img/article/${blog.id}.webp`} alt={blog.title} class={styles.image} width={335} height={227}>
	<p class={styles.date}>{formattedPublishedAt}</p>
	<p class={styles.title}>{blog.title}</p>
  </a>
</li>
