---
import Heading from "../../components/Heading/Heading.astro";
import MainContent from "../../components/MainContent/MainContent.astro";
import Paragraph from "../../components/Paragraph/Paragraph.astro";
import Layout from "../../layouts/Layout.astro";
import { getBlogDetail, getBlogs } from "../../library/microcms";

export async function getStaticPaths() {
	const response = await getBlogs({ fields: ["id"] });
	return response.contents.map((content: any) => ({
		params: {
			blogId: content.id,
		},
	}));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<Layout title=`${blog.title} | Imoto Kazuya frontend portfolio site` description={blog.title}>
	<MainContent>
    <Heading text={blog.title} level="h2" />
    <Paragraph level="p">公開日時：{blog.publishedAt}</Paragraph>
    <div class="post" set:html={blog.content}></div>
  </MainContent>
</Layout>
